<app-navbar />
<form action="" class="create_entry_formulary" id="add_entry">
  <div style="grid-column: 1/3">
    <label for="master_password">Master Password *</label>
    <input
      autocomplete="false"
      id="master_password"
      name="master_password"
      type="password"
    />
    <span>{{ errors.master_password }}</span>
  </div>

  <div>
    <label for="site_name">Site name *</label>
    <input
      id="site_name"
      name="site_name"
      type="text"
      placeholder="Linkedin"
      autocomplete="false"
    />
    <span>{{ errors.site_name }}</span>
  </div>

  <div>
    <label for="site_url">Site url </label>
    <input
      id="site_url"
      name="site_url"
      type="text"
      placeholder="www.linkedin.com"
      autocomplete="false"
    />
    <span></span>
  </div>

  <div>
    <label for="email">Email *</label>
    <input
      id="email"
      name="email"
      type="email"
      placeholder="john@email.com"
      autocomplete="false"
    />
    <span>{{ errors.email }}</span>
  </div>

  <div>
    <label for="site_image">Site image </label>
    <input
      id="site_image"
      name="site_image"
      type="text"
      placeholder="www.linkedin=image.png"
      autocomplete="false"
    />
    <span></span>
  </div>

  <div>
    <label for="password">Password *</label>
    <input
      id="password"
      name="password"
      type="password"
      placeholder="****"
      autocomplete="false"
    />
    <span>{{ errors.password }}</span>
  </div>

  <div>
    <label for="username">Username</label>
    <input
      id="username"
      name="username"
      type="text"
      placeholder="Elton John"
      autocomplete="false"
    />
    <span></span>
  </div>

  <p class="error" *ngIf="master_password_error">{{ master_password_error }}</p>

  <button
    class="button submit"
    style="grid-column: 1/3"
    (click)="getFormData($event)"
  >
    Create password
  </button>
</form>
