.entry {
  display: grid;
  place-content: left;
  min-height: calc(100vh - 75px);
  padding: 40px;
  animation: fadeIn 500ms ease;

  div {
    max-width: 100%;

    img {
      height: 250px;
      width: auto;
      max-width: 100%;
    }

    h1 {
      margin: 18px 0 16px 0;
      font-size: 32px;
    }

    ul {
      display: grid;
      align-items: center;
      gap: 20px;

      li {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 18px;
        font-weight: 400;
        align-items: center;

        p {
          font-size: 16px;
          text-wrap: wrap;
          word-break: break-all;
        }

        span {
          font-size: 18px;
          font-weight: 600;
        }

        svg {
          cursor: pointer;
        }
      }
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 7px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  font-size: 14px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
