.entry {
  display: grid;
  place-content: left;
  min-height: calc(100vh - 75px);
  padding: 40px;
  animation: fadeIn 500ms ease;

  div {
    max-width: 100%;

    img {
      height: 250px;
      width: auto;
      max-width: 100%;
    }

    h1 {
      margin: 18px 0 16px 0;
      font-size: 32px;
    }

    ul {
      display: grid;
      align-items: center;
      gap: 20px;

      li {
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 18px;
        font-weight: 400;
        align-items: center;

        p {
          font-size: 18px;
          text-wrap: wrap;
          word-break: break-all;
          position: relative;
          cursor: pointer;
        }

        span {
          font-size: 18px;
          font-weight: 600;
        }

        svg {
          cursor: pointer;
        }
      }
    }
  }
}

.input {
  height: 20px;
  padding: 20px 16px;
  width: 300px;
  font-size: 16px;
  // display: block;
}

.image_box {
  display: flex;
  position: relative;
  width: fit-content;

  svg {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
  }
}

#hiiden_div {
  margin-top: 18px;
  display: none;
  gap: 10px;
  align-items: center;

  button {
    font-size: 16px;
    height: 42px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  font-size: 16px !important;
  font-weight: 400 !important;
}
