.generated-password {
  min-height: calc(100vh - 80px);
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 20px;
  text-align: center;
  padding: 0 10px;

  input {
    height: 20px;
    padding: 20px 16px;
    width: fit-content;
    font-size: 15px;
  }

  p {
    font-size: 18px;
    word-break: break-all;
  }

  button {
    font-size: 16px;
    position: relative;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    button {
      font-size: 16px;
      position: relative;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  font-size: 14px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
